<!DOCTYPE html>
<html class='no-js'>
  <head>
    <title>{{ request.page_title }}</title>

    <meta content='width=device-width,initial-scale=1' name='viewport'>

    {% comment %}
    This provides Posthaven built meta description, Facebook Open Graph and Twitter Card
    <meta> tags.
    {% endcomment %}
    {{ meta_tags }}

    <link
    href="{{ 'images/favicon.ico' | asset_url }}"
      rel='shortcut icon'
      type='image/x-icon'>
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link
      rel="search"
      type="application/opensearchdescription+xml"
      title="{{ settings.title }}"
      href="{{ 'opensearch.xml' | asset_url }}">

    {{ 'blog.css' | asset_url | stylesheet_tag }}

    {% comment %} This Required for internal Posthaven functionality to work!.  {% endcomment %}
    {{ posthaven.includes_for_head }}


    <style > :root
    {
      /* Light mode colors */
      --bg-color: {{ settings.light_color }}
      ;
      --text-color: {{ settings.dark_color }}
      ;

      /* Dark mode colors */
      --bg-color-dark: {{ settings.dark_color }}
      ;
      --text-color-dark: {{ settings.light_color }}
      ;

      --search-result-color: {{ settings.search_result_color }}
    }

    body {
      background-color: var(--bg-color);
      color: var(--text-color);
    }

    body.dark-mode {
      background-color: var(--bg-color-dark) !important;
      color: var(--text-color-dark) !important;
    }
  </style>
</head>
<body class='site-{{ site.id }}'>
  <script type="text/javascript" src="{{ 'light-dark.js' | asset_url }}"></script>
  <header>
    {% include 'alerts' %}

    <div>
      <h1>
        <a href="{{ site.url }}">{{ settings.title | smarty_pants }}</a>
      </h1>

      {% unless settings.tagline == empty %}
        <h3>
          <a href="{{ site.url }}">{{ settings.tagline | smarty_pants }}</a>
        </h3>
      {% endunless %}
    </div>

    {% include 'nav_menu' %}

    <div class="toggle-div">
      <div class="toggle-container">
        <input
          type="checkbox"
          id="toggle"
          class="toggle-input">
        <label for="toggle" class="toggle-label">
          <img
            src="{{ 'svgs/sun.svg' | asset_url }}"
            alt="Sun"
            id="sun"
            class="icon-sun">
          <img
            src="{{ 'svgs/moon.svg' | asset_url }}"
            alt="Moon"
            id="moon"
            class="icon-moon">
        </label>
      </div>
    </div>
  </header>


  <main>
    {{ content_for_layout }}
  </main>

  <footer>
    <p class="paragraph left">
      {{ settings.contact }}
    </p>
    <!-- {{ posthaven.user_menu }} -->
    <p class="paragraph">© {{ settings.copyright_start_date }}
      {%  if settings.copyright_end_date_now %}
        {{ "now" | date: "%Y" }}
      {% endif %}
    </p>
  </footer>

  {% comment %} This Required for internal Posthaven functionality to work!.  {% endcomment %}
  {{ posthaven.includes_for_body }}</body></html>
