<!DOCTYPE html>
<html class='no-js'>
  <head>
    <title>{{ request.page_title }}</title>

    <meta content='width=device-width,initial-scale=1' name='viewport'>

    {% comment %}
    This provides Posthaven built meta description, Facebook Open Graph and Twitter Card
    <meta> tags.
    {% endcomment %}
    {{ meta_tags }}

    <link
    href="{{ 'images/favicon.ico' | asset_url }}"
      rel='shortcut icon'
      type='image/x-icon'>
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {{ 'blog.css' | asset_url | stylesheet_tag }}

    {% comment %} This Required for internal Posthaven functionality to work!.  {% endcomment %}
    {{ posthaven.includes_for_head }}

    {% if settings.background_color %}
      <style>
        body {
          background-color: {{ settings.background_color }}
           !important;
        }
      </style>
    {% endif %}



    <style > :root
    {
      /* Light mode colors */
      --bg-color: {{ settings.light_color }}
      ;
      --text-color: {{ settings.dark_color }}
      ;

      /* Dark mode colors */
      --bg-color-dark: {{ settings.dark_color }}
      ;
      --text-color-dark: {{ settings.light_color }}
      ;
    }

    body {
      background-color: var(--bg-color) !important;
      color: var(--text-color) !important;
    }

    @media(prefers-color-scheme: dark) {
      body {
        background-color: var(--bg-color-dark) !important;
        color: var(--text-color-dark) !important;
      }
    }
    {% if settings.user_system_dark_light_mode %}{% endif %}
  </style>
</head>

<body class='site-{{ site.id }}'>

  <header>
    {% include 'alerts' %}

    <div>
      <h1>
        <a href="{{ site.url }}">{{ settings.title | smarty_pants }}</a>
      </h1>

      {% unless settings.tagline == empty %}
        <h3>
          <a href="{{ site.url }}">{{ settings.tagline | smarty_pants }}</a>
        </h3>
      {% endunless %}
    </div>

    {% if posts.size > 0 %}
      {% include 'nav_menu' %}
    {% endif %}
  </header>


  <main>
    {{ content_for_layout }}
  </main>

  <footer>
    <p class="paragraph left">
      {{ settings.contact }}
    </p>
    <!-- {{ posthaven.user_menu }} -->
    <p class="paragraph">© 2022 {{ "now" | date: "%Y" }}</p>
  </footer>

  {% comment %} This Required for internal Posthaven functionality to work!.  {% endcomment %}
  {{ posthaven.includes_for_body }}
</body></html>