<section class="home centered-content">
  {% if settings.recent_post_in_header %}
    {% assign recent_post = posts.first %}
    <h6 style="line-height:1.8em;">New Reading</h6>
    <h1><a href="{{ recent_post.url }}">{{ recent_post.title }}</a></h1>
    <p><a href="{{ recent_post.url }}">continue reading post</a></p>
  {% else %}
    <h1>{{ settings.headline }}</h1>
    <p>{{ settings.subheadline }}</p>
  {% endif %}
  <img
    src="{{ 'svgs/down-arrow.svg' | asset_url }}"
    alt="Arrow pointing down"
    id="arrow"
    class="arrow-down">
</section>

<section class="home about">
  <div>
    <h4>Identity.</h4>
    <p>{{ site.profile.bio }}</p>
  </div>
</section>


<section class="home recognition">
  <div>
    <h4>Recognition.</h4>
    <p>{{ settings.recognition_text }}</p>
  </div>
  <div class="grid-container">
    {% assign recognitions = settings.recognition_items | split: "|" %}
    {% for recognition in recognitions %}
      {% assign detail = recognition | split: "*" %}
      <div class="grid-item">
        <h3>{{ detail[0] }}</h3>
        {{ detail[1] }}
      </div>
    {% endfor %}
  </div>
</section>
